# ======================================
# Crowd Detection & Stampede Risk Module
# Python 3.12 compatible
# ======================================

opencv-python==4.9.0.80

numpy==1.26.4
scipy==1.11.4

# PyTorch (Python 3.12 compatible)
torch==2.2.2
torchvision==0.17.2

timm==0.9.12

ultralytics==8.1.2

tqdm==4.66.1
matplotlib==3.8.2
